<ng-container *ngIf="!!user">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="More details about your profile"
  >
    <img
      mat-card-image
      [src]="user.pictureUrl"
      alt="Photo of a {{ user.displayName }}"
      class="profile-image"
    />
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>{{ user.displayName }}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sign Off</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>delete</mat-icon>
      <span>Delete Account</span>
    </button>
  </mat-menu>
</ng-container>
